
#estado{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #98aad0;
  width: 20vh;
}

.utilityContainer {
  max-width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #98aad0;
}

.utilityContainer h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
}

.utilityContainer p {
  text-align: center;
  color: #6b7280;
  font-size: 1.1rem;
}

.utilityTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.utilityTable thead {
  background: #2563eb;
  color: white;
}

.utilityTable th, .utilityTable td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.utilityTable tbody tr:hover {
  /* background-color: #f3f4f6; */
  transition: background 0.2s;
}

.utilityTable tbody tr:nth-child(even) {
  /* background-color: #f9fafb; */
}

/* BOTON DE ORDEN */
.tableContainer {
  width: 100%;
}

.tableActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.sortButton {
  background: #0b5bd2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 2px 6px rgb(5, 126, 160);
}

.sortButton:hover {
  background: #087d91;
  transform: translateY(-2px);
}

.sortButton:active {
  transform: translateY(0);
}

.sortButton:focus {
  outline: none;
}

button {
  padding: 12px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #2563eb, #1d4ed8);

  color: white;
  font-weight: 700;

  cursor: pointer;

  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #5185f4, #406dea);
  box-shadow: 0 10px 20px rgba(37,99,235,0.3);
}

/* Animacion de mensaje al guardar un obeto  */
.toast-success {
    position: fixed;
    top: 20px;
    right: 20px;

    background: #22c55e;
    color: white;

    padding: 12px 20px;
    border-radius: 10px;

    font-weight: 600;

    box-shadow: 0 4px 12px rgba(0,0,0,.2);

    animation: slideIn .4s ease;
    z-index: 1000;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.tableWrapper {
  max-height: 500px; /* altura máxima */
  overflow-y: auto; /* scroll vertical */
  overflow-x: auto; /* scroll horizontal si es necesario */
  border-radius: 12px;
}


.tableWrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.utilityTable thead th {
  position: sticky;
  top: 0;
  background: #2563eb;
  color: white;
  z-index: 10;
}

.tableWrapper::-webkit-scrollbar-track {
  background: #1e293b;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}


button.btnDelete {
  background-color: red;
  color: white;
  border: none;
}

button.btnDelete:hover {
  background-color: darkred;
}
th:nth-child(1), td:nth-child(1) { width: 25%; }

/* th:nth-child(1), td:nth-child(6) { width: 10%; } */
