.descriptionBook {
  position: fixed;
  top: 70px; /* debajo del header */
  right: 0;

  width: 420px;
  max-width: 100vw;
  height: calc(100vh - 70px);

  background: #ffffff;

  border-radius: 16px 0 0 16px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: -10px 0 30px rgba(0,0,0,0.15);

  z-index: 2000;

  animation: fadeIn .25s ease;
  overflow: hidden;
}

.bookContent {
  flex: 1;
  overflow-y: auto;

  padding-right: 10px;
}

.bookContent {
  flex: 1;
  overflow-y: auto;

  padding-right: 10px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1999;
}